<article *ngIf="anecdote;else case_null" class="anecdote-card">

    <div class="topics">
        <div *ngFor="let topic of anecdote.topics" class="topic">
            <strong> {{ topic }} </strong>
        </div>
    </div>

    <div class="description">
        {{ anecdote.description }}
    </div>

    <div class="interactions">
        <div (click)="upvoteClicked()" >
            <div *ngIf="anecdote.vote == 'UPVOTE'; then checkUpvote else notCheckUpvote"></div>
            <ng-template #checkUpvote><img src="../../../assets/images/upvote_checked.svg"/></ng-template>
            <ng-template #notCheckUpvote><img src="../../../assets/images/upvote.svg"/></ng-template>
            {{ anecdote.upvotes }}
        </div>
        <div (click)="downvoteClicked()">
            <div *ngIf="anecdote.vote == 'DOWNVOTE'; then checkDownvote else notCheckDownvote"></div>
            <ng-template #checkDownvote><img src="../../../assets/images/downvote_checked.svg"/></ng-template>
            <ng-template #notCheckDownvote><img src="../../../assets/images/downvote.svg"/></ng-template>
            {{ anecdote.downvotes }}
        </div>      
        <div (click)="starClicked()">
            <div *ngIf="anecdote.starred; then checkStarred else notCheckStarred"></div>
            <ng-template #checkStarred><img src="../../../assets/images/star_checked.svg"/></ng-template>
            <ng-template #notCheckStarred><img src="../../../assets/images/star.svg"/></ng-template>
        </div>
        <div>
            <img src="../../../assets/images/user.svg"/>
            {{ anecdote.owner }}
        </div>
    </div>

</article>

<ng-template #case_null>
    <article class="anecdote-card">
        <div class="topics">
            <div class="topic">
                <strong> Topic </strong>
            </div>
        </div>
    
        <div class="description">
            description
        </div>
    
        <div class="interactions">
            <div>
                <img src="../../../assets/images/upvote.svg"/>
                0
            </div>
            <div>
                <img src="../../../assets/images/downvote.svg"/>
                0
            </div>      
            <div>
                <img src="../../../assets/images/star.svg"/>
                0
            </div>
            <div>
                <img src="../../../assets/images/user.svg"/>
                User
            </div>
        </div>
    </article>
</ng-template>
