.anecdote-card {
    margin: 0;
    padding: 0;
    width: 35vw;
    height: 30vw;
    border-radius: 50px;
    border: solid grey 1px;
}

.topics {
    display: flex;
    height: 15%;
    padding: 10px;
    margin-top: 3%;
    justify-content: space-evenly;
    align-items: center;
}

.topic {
    background-color: rgb(215,168,98);
    border-radius: 20px;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
    width: 25%;
    text-align: center;
    font-size: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.description {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60%;
    text-align: center;
}

.interactions {
    display: flex;
    height: 15%;
    margin: 3%;
    align-items: center;
    justify-content: space-between;
}

.interactions img {
    width: 50px;
    height: 50px;
}

@media (max-width: 400px){
    .anecdote-card {
        margin: 0;
        padding: 0;
        width: 75vw;
        height: 70vw;
        border-radius: 50px;
    }

}

.tmp {
    width: 10%;
    height: 10%;
}