.nav {
    padding: 20px;
    height: 10%;
    border: solid 1px rgb(238,238,238);
}

.children {
    height: 90%;
}

.title {
    font-family: 'Montserrat';
    padding: 0;
    padding-left: 5px;
    font-size: clamp(12px, 5vw, 36px);
    color: black;
    cursor: pointer;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.topics {
    border-top: none;
    border-left: none;
    border-right: none;
    background: white;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 20vw;
    text-align: center;
    font-size: clamp(4px, 3vw, 20px);
}

.recherche {
    background: white;
    border: none;
    color: black;
    width: 5vw;
    height: 100%;
    padding: 0;
    margin: 0;
}

.icon {
    width: same-as-height;
    height: clamp(12px, 5vw, 36px);
}

img {
    width: same-as-height;
    height: clamp(12px, 5vw, 50px);
    border-radius: 50%;
}

.profil {
    padding: 0;
    padding-right: 5px;
    white-space: nowrap;
}

.username {
    font-size: 2vw;
}

.goToLogin {
    background: white;
    border: none;
    color: black;
    opacity: 0.3;
}

