<div class="menu">

    <div *ngIf="userProps?.profilePictureURI; then showingURI else notShowingURI"></div>
    <ng-template #showingURI><img [src]="userProps?.profilePictureURI" class="profil"></ng-template>
    <ng-template #notShowingURI><img src="../../../assets/images/profil.jpg" class="profil"></ng-template>

    <p class="username">{{ user }}</p>

    <div *ngIf="user != me; then showingFollow else notShowingFollow"></div>
    <ng-template #showingFollow><button (click)="clickFollow()" class="btn">{{ userProps?.followed ? "Unfollow" : "Follow"}}</button></ng-template>
    <ng-template #notShowingFollow><div class="btn" style="visibility: hidden"></div></ng-template>

    <button (click)="goToGitHub()" class="btn">GitHub</button>

    <button (click)="openDialog()" class="btn">Editer le profil</button>

    <div (click)="showStarred()" class="starred">
        <div *ngIf="starredFilter; then showingStarred else notShowingStarred"></div>
        <ng-template #showingStarred><img class="icon" src="../../../assets/images/star_checked_black.svg"/></ng-template>
        <ng-template #notShowingStarred><img class="icon" src="../../../assets/images/star.svg"/></ng-template>
    </div>
</div>