<div class="menu">

    <div *ngIf="user != me; then showingFollow else notShowingFollow"></div>
    <ng-template #showingFollow>
        <img [src]="userProps?.profilePictureURI" class="profil">
        <p class="username">{{ user }}</p>
        <button (click)="clickFollow()" class="btn">{{ userProps?.followed ? "Unfollow" : "Follow"}}</button>
    </ng-template>
    <ng-template #notShowingFollow>
        <img [src]="authentificationService.getLinkPicture()" class="profil">
        <p class="username">{{ user }}</p>
        <button (click)="openDialog()" class="btn">Editer le profil</button>
    </ng-template>

    <button (click)="goToGitHub()" class="btn">GitHub</button>

    <div (click)="showStarred()" class="starred">
        <div *ngIf="starredFilter; then showingStarred else notShowingStarred"></div>
        <ng-template #showingStarred><img class="icon" src="../../../assets/images/star_checked_black.svg"/></ng-template>
        <ng-template #notShowingStarred><img class="icon" src="../../../assets/images/star.svg"/></ng-template>
    </div>
</div>