.main {
    background: linear-gradient(200deg, rgb(255,255,255) 30%, rgb(215, 168, 98) 75%);
    height: 100%;
}

.anecdote {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}