.main { 
    height: 100%;
}

.band {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25%;
    width: 100%;
    background: rgb(215,168,98);
}

.profil {
    margin: 10px;
    width: same-as-height;
    height: 80%;
    border-radius: 50%;
}

.utils {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    justify-content: space-evenly;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: solid 1px black;
    color: black;
    width: 10%;
    height: 20%;
    font-size: 1vw;
    overflow: hidden;
    white-space: nowrap;
}

.username {
    color: black;
    margin-left: 5%;
    font-size: 25px;
}

.list-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("../../../assets/images/wave_profil.svg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.anecdotes-list {
    margin-top: 5vh;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
}

.anecdote {
    margin-bottom: 25px;
}

.starred {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5%;
}