.main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 100%;
    height: 100%;
}

article {
    height: 50%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login {
    margin: 0;
    box-shadow: none;
}

.title {
    text-align: center;
    font-size: 6vw;
    margin-bottom: 20px;
    font-family: 'Montserrat';
    color: black;
}

.connection {
    background: rgb(215,168,98);
    color: white;
    border-radius: 20px;
    border: none;
    width: 100%;
}

.forgot {
    border: solid black 1px;
    background-color: white;
    color: black;
    border-radius: 20px;
    width: 100%;
}

form input{
    border-radius: 10px;
    width: 90%;
}

.bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 0.1;
}

.no-account-label {
    opacity: 0.7;
}
.register {
    background-color: white;
    color: rgb(0,133,255);
    border: none;
    cursor: pointer;
}

